.expandable-sidebars {
  width: 400px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 60px;
  top: 0;
  padding: 20px;
  z-index: 1;
  overflow-y: auto;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
  margin-bottom: 40px;
}

.expandable-sidebars.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.expandable-sidebars .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandable-sidebars .close-btn {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}
