.sidebar-with-icons {
  width: 60px;
  height: 100vh;
  background-color: rgba(100, 37, 254, 0.5);
  color: #ecf0f1;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.sidebar-with-icons .menu {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.sidebar-with-icons .icon {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.sidebar-with-icons .icon:hover {
  background-color: rgba(100, 37, 254, 0.2);
}
