.sidebar-my-ebooks .ebook-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}

.sidebar-my-ebooks .ebook-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #84828a;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 600;
}

.sidebar-my-ebooks .ebook-item:hover {
  background-color: #efe9ff;
  color: #6425fe;
  border-radius: 4px;
}
